@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-gray-900;
    @apply text-gray-400;
    &.menu-open {
        overflow: hidden;
        header {
            background-color: transparent;
        }
        #content > * {
            filter: blur(5px) brightness(0.7);
            @apply transition-all ease-in duration-200;
            pointer-events: none;
            user-select: none;
        }
    }
}

.fp-section {
    @apply w-full;
    @apply min-h-screen;
    @apply flex flex-col items-center justify-center;
}

* {
    @apply transition-all;
}

.container {
    @apply max-w-4xl mx-auto w-full px-4 sm:px-6 lg:px-8;
}

.fadedown-enter {
    @apply opacity-5;
    @apply -translate-y-5;
    transition: var(--transition);
}
.fadedown-enter-active {
    @apply opacity-100;
    @apply translate-y-0;
    transition: var(--transition);
}

.header {
    @apply fixed top-0 left-0 w-full z-[100] bg-gray-900/80;
    @apply filter-none;
    @apply backdrop-blur-md;
    @apply shadow-lg shadow-transparent;
    @apply flex items-center justify-center;
    transition: var(--transition);
    height: var(--nav-height);
    &.scrolling-down {
        height: var(--nav-scroll-height);
        transform: translateY(calc(var(--nav-scroll-height) * -1));
        @apply shadow-black/20;
    }
    &.scrolling-up {
        height: var(--nav-scroll-height);
        transform: translateY(0px);
        @apply shadow-black/20;
        @apply bg-gray-900/90;
    }
    nav {
        @apply relative w-full flex items-center justify-between z-[101];
        .logo {
        }
        .links {
            @apply hidden md:flex items-center;
            ol {
                @apply list-none p-0 m-0 flex space-x-3;
                li {
                    @apply relative;
                    a {
                        @apply p-3;
                    }
                }
            }
        }
    }

    .mobile-menu {
        @apply flex flex-col md:hidden;

        .menu-btn {
            transition: var(--transition);
            @apply w-10 h-10 relative bg-transparent border-0;
            @apply flex items-center justify-center;
            @apply z-[400];
            svg {
                @apply absolute;
                transform: translate(-50%, -50%) scale(1);
                top: 50%;
                left: 50%;
                opacity: 1;
                transition: var(--transition);
                &.hide {
                    transform: translate(-50%, -50%) scale(0);
                    opacity: 0;
                }
            }
        }
        aside {
            @apply flex items-center justify-center md:hidden;
            @apply fixed top-0 right-0;
            @apply p-2;
            width: min(75vw, 400px);
            @apply h-screen;
            @apply outline-none;
            @apply bg-gray-800;
            @apply shadow-2xl shadow-gray-950;
            @apply z-[200];
            transform: translateX(100vw);
            visibility: hidden;
            opacity: 0;
            transition: var(--transition);
            &.open {
                opacity: 1;
                transform: translateX(0);
                visibility: visible;
            }
            nav {
                @apply flex items-center justify-center;
                ol {
                    @apply list-none p-0 m-0 flex flex-col space-y-10 text-center;
                    li {
                        @apply relative;
                        a {
                            @apply p-3 text-2xl;
                        }
                    }
                }
            }
        }
    }
}

.project {
    @apply grid grid-cols-12;
    .content {
        @apply col-start-1 col-end-[-1] sm:col-end-9 md:col-end-7;
        @apply row-start-1 row-end-[-1];
        z-index: 10;
        @apply flex flex-col items-center justify-center;
        .content-inner {
            @apply bg-gray-700/80 sm:bg-transparent;
            @apply rounded-lg sm:rounded-none;
            @apply h-full sm:h-auto;
            @apply flex flex-col gap-4;
            @apply items-center text-center sm:text-left justify-center sm:justify-start sm:items-stretch;
            @apply p-12 sm:p-0;
            h3 {
                @apply text-xl font-bold text-gray-50 tracking-wide;
            }
            p {
                @apply bg-gray-800 rounded-lg shadow-gray-950 shadow-lg p-6 text-gray-100;
            }
            ul.tags {
                @apply list-none flex justify-start space-x-4 text-xs font-medium;
            }
        }
    }
    .image {
        @apply relative;
        @apply col-start-1 sm:col-start-6 col-end-[-1];
        @apply row-start-1 row-end-[-1];
        z-index: 9;
        img {
            @apply rounded-lg shadow-lg;
        }
    }
    &:nth-of-type(odd) {
        .content {
            @apply col-start-1 sm:col-start-5 md:col-start-7 col-end-[-1];
            .content-inner {
                @apply text-center sm:text-right;
                ul.tags {
                    @apply justify-end;
                }
            }
        }
        .image {
            @apply col-start-1 col-end-[-1] sm:col-end-8;
        }
    }
}
