@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --nav-height: 100px;
    --nav-scroll-height: 70px;
}

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-slate-900;
    @apply text-slate-400;
}

.fp-section {
    @apply w-full;
    @apply min-h-screen;
    @apply flex flex-col items-center justify-center;
}

* {
    @apply transition-all;
}

.container {
    @apply max-w-5xl mx-auto w-full px-4 sm:px-6 lg:px-8;
}

// .burger {
//     @apply transition-opacity ease-linear duration-300;
//     @apply border-0 bg-transparent w-8 h-8 relative -ml-2;
//     @apply z-[1001];
//     svg {
//         @apply absolute;
//         transform: translate(-50%, -50%) scale(1);
//         top: 50%;
//         left: 50%;
//         opacity: 1;
//         transition: opacity 300ms ease, transform 300ms ease;
//     }
//     svg[data-hide='true'] {
//         opacity: 0;
//         transform: translate(-50%, -50%) scale(0);
//     }
// }

// .mobile-menu {
//     @apply flex flex-col absolute top-0 left-0 w-full h-screen z-[1000] opacity-0 pt-16 px-4;
//     background: var(--background);
//     li {
//         transform: translateX(20px);
//         opacity: 0;
//         width: 0;
//         white-space: nowrap;
//         @apply border-b font-semibold border-accent-1 py-2;
//         a {
//             @apply py-1;
//         }
//     }
//    &.rendered {
//         opacity: 1;
//         li {
//             transform: translateX(0);
//             opacity: 1;
//             @apply w-full border-accent-1;
//         }
//     } 
 
// }

.menu {
    @apply fixed top-0 left-0 w-full z-[1000] bg-transparent;
    @apply flex items-center leading-none;
    @apply shadow-lg shadow-transparent;
    @apply transition-all ease-in duration-150;
    backdrop-filter: blur(10px);
    height: var(--nav-height);
    &.scrolling-down {
        height: var(--nav-scroll-height);
        transform: translateY(calc(var(--nav-scroll-height) * -1));
        @apply shadow-black/30;
    }
    &.scrolling-up {
        height: var(--nav-scroll-height);
        transform: translateY(0px);
        @apply shadow-black/30;
        @apply bg-slate-900/90
    }
}

 
